body,
html {
    margin: 0px;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8DA1B9;
    height: 150px;
    width: 100%;
    color: #D4DCFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.material-symbols-outlined {
    z-index: 1;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.freccie{
    position: absolute;
    right: 10px;
}

#link {
    border: solid 3px black;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 5px 5px 3px #c1121f;
    background-color: #C6DDF0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FF8552;
}

.F {
    display: none;
}

.P {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border: solid 3px black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    background-color: #D2D4C8;
    box-shadow: 5px 5px 3px #c1121f;
}

.P:hover{
    box-shadow: 7px 7px 5px 7px #c1121f;
}

.P:focus>.F {
    display: block;
}

.F:hover {
    display: block;
}

table {
    margin: 50px;
}

table,
tr,
td,
th {
    border: solid 3px black;
    padding: 10px;
    background-color: #B8BDB5;
}

td > button{
    padding: 10px;
    border-radius: 50%;
}

th + td > button{
    padding: 20px;
    border-radius: 50%;
}

th + td{
    background-color: #5F7470;
}

th{
    background-color: #5F7470;
}

td:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.verde {
    background-color: green;
}

.giallo {
    background-color: yellow;
}

.rosso {
    background-color: red;
}

.commento{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    border-radius: 15px;
    padding: 10px;
    background-color: #C6DDF0;
    font-size: large;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DA1B9;
    color: #D4DCFF;
    height: 150px;
}