body,
html {
    margin: 0px;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8DA1B9;
    height: 150px;
    width: 100%;
    color: #D4DCFF;
}

.material-symbols-outlined {
    z-index: 1;
    right: 100px;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#link {
    border: solid 3px black;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 5px 5px 3px #48cae4;
    background-color: #C6DDF0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #007FFF;
}

.F {
    display: none;
}

.P {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border: solid 3px black;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    background-color: #D2D4C8;
    box-shadow: 5px 5px 3px #48cae4;
}

.P:hover{
    box-shadow: 7px 7px 5px 7px #48cae4;
}

.P:focus>.F {
    display: block;
}

.F:hover {
    display: block;
}

table {
    margin: 50px;
}

table,
tr,
td,
th {
    border: solid 3px black;
    padding: 10px;
    background-color: #B8BDB5;
}

td > button{
    padding: 10px;
    border-radius: 50%;
}

th + td > button{
    padding: 20px;
    border-radius: 50%;
}

th + td{
    background-color: #5F7470;
}

th{
    background-color: #5F7470;
}

td:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.verde {
    background-color: green;
}

.giallo {
    background-color: yellow;
}

.rosso {
    background-color: red;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DA1B9;
    color: #D4DCFF;
    height: 150px;
}